<!doctype html>
<html lang="es">
    <head>
        <%- include('./templates/header') %>
    </head>
    <body style="width: 100vw;">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <%- include('./templates/navbar') %>
                </div>
                <div class="mainContent">
                    <div class="imageContent">
                        <img class="mainImage" src="https://images.unsplash.com/photo-1545840716-c82e9eec6930?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"/>
                    </div>
                    <div class="cardsContent}">

                        <div class="content">
                            <img class="imageCard" src="https://farm-col.vercel.app/images/gano-excel.png"/>
                            <div class="cardDescription">
                                <div class="cardTexts">
                                    <h4 class="text">Healty America</h4>
                                    <p class="text">130 productos</p>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            <img class="imageCard" src="https://farm-col.vercel.app/images/gano-excel.png"/>
                            <div class="cardDescription">
                                <div class="cardTexts">
                                    <h4 class="text">Healty America</h4>
                                    <p class="text">130 productos</p>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            <img class="imageCard" src="https://farm-col.vercel.app/images/gano-excel.png"/>
                            <div class="cardDescription">
                                <div class="cardTexts">
                                    <h4 class="text">Healty America</h4>
                                    <p class="text">130 productos</p>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            <img class="imageCard" src="https://farm-col.vercel.app/images/gano-excel.png"/>
                            <div class="cardDescription">
                                <div class="cardTexts">
                                    <h4 class="text">Healty America</h4>
                                    <p class="text">130 productos</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('./templates/footer') %>
    </body>
</html>
